<body background="https://cdn.jsdelivr.net/gh/jnlbrdr/angular-ivy-sd58uu@master/kt.jpg">
<my-profile></my-profile>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sometimes it is hard to introduce yourself because you know yourself so well that you do not know where to start with. Nevertheless, here it goes.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I always tell myself to be positive about every aspect of life, that is me as a person. There are many things I like to know, to understand, and to experience. And for now, as a student, I've decided to live by 'Faith first. Study second.' likewise my motto. So far, I slowly and continuously am pursuing it.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Although, I don't talk too much and I have a low self-esteem, I tried to get out of my box and I know someday, I can. Despite of that, I am not an 'emo' I am happy and loved. I always appreciate things, even though, sometimes others can't see it. 
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Moreover, I’m eager to learn new things, I want to develop something unique, I always thought about things with explanation how it begun and what will be the end. Each time, I look for the future and convincing to be practical.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;And then recently, I enjoyed watching anime specifically 'One Piece' but I am not yet finished watching all the episodes. Also, I started to practice playing drums but I don't have much time for that because of class schedule. And, it just happened that I took care for the cats and I loved them.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lastly, I’m feeling blessed every day because regardless of happenings right now, I am still alive. To God be all the glory!
</p>